<section>
  <div class="page-header">
    <h1>Comentarios</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="comentario in vm.comentarios"
       data-ui-sref="comentarios.view({ comentarioId: comentario._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="comentario.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="comentario.user" data-ng-bind="comentario.user.displayName"></span>
        <span data-ng-if="!comentario.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="comentario.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.comentarios.$resolved && !vm.comentarios.length">
    No Comentarios yet, why don't you <a data-ui-sref="comentarios.create">create one</a>?
  </div>
</section>
