<section>
  <div class="page-header">
    <h1>{{vm.ingredient._id ? 'Edit Ingredient' : 'New Ingredient'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.ingredientForm" class="form-horizontal" ng-submit="vm.save(vm.form.ingredientForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>

          <label class="control-label" for="name">Nombre del ingrediente</label>
          <input name="name" type="text" ng-model="vm.ingredient.name" id="name" class="form-control" placeholder="Nombre" required>
          <div ng-messages="vm.form.ingredientForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Ingredient name is required.</p>
          </div>

          <label class="control-label" for="name">Description del ingrediente</label>
          <input name="description" type="text" ng-model="vm.ingredient.description" id="description" class="form-control" placeholder="Descripcion" required>
          <div ng-messages="vm.form.ingredientForm.description.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Description menor a 50 caracteres</p>
          </div>

          <label class="control-label" for="name">Costo del ingrediente</label>
          <input name="cost" type="number" ng-model="vm.ingredient.cost" id="cost" class="form-control" placeholder="Costo" required min="0">
          <div ng-messages="vm.form.ingredientForm.cost.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Costo es requerido.</p>
          </div>

          <label class="control-label" for="name">Numero de manga</label>
          <input name="dispNum" type="number" ng-model="vm.ingredient.dispNum" id="dispNum" class="form-control" placeholder="Numero de manga" required min="0">
          <div ng-messages="vm.form.ingredientForm.dispNum.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Numero de manga requerido.</p>
          </div>

        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.ingredient._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
